@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap");

:root {
  --font-family: "Josefin Sans", sans-serif;

  --gradient-background: linear-gradient(
    0deg,
    hsl(267deg 90% 28%) 0%,
    hsl(266deg 70% 34%) 11%,
    hsl(266deg 58% 38%) 22%,
    hsl(267deg 50% 42%) 33%,
    hsl(267deg 43% 46%) 44%,
    hsl(267deg 39% 51%) 56%,
    hsl(267deg 40% 55%) 67%,
    hsl(267deg 42% 59%) 78%,
    hsl(268deg 44% 63%) 89%,
    hsl(268deg 46% 67%) 100%
  );
  /* --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%); */

  --primary-color: #420789;
  --secondary-color: #a884d2;
  --text-color: #6c6c72;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --color-bg: #040c18;
  --color-footer: #232233;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}
